.event-detail-modal {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.app-modal-content {
  width: 90%;
  height: 80%;
  background-color: #000000;
  color: #e5e5e5;
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.app-modal-title h5 {
  font-size: 2rem;
  border-bottom: solid 0.1rem #fca311;
  padding: 2rem;
  height: 10%;
}

.app-modal-body {
  display: flex;
  height: 75%;
  overflow-y: auto;
}

.modal-organizer-detail,
.modal-event-detail {
  flex: 30%;
  padding: 1rem;
}

.modal-image {
  width: 100%;
  height: auto;
}

.modal-event-detail {
  flex: 70%;
  overflow-y: auto;
}

.app-modal-body {
  font-size: 1.6rem;
}

.modal-organizer-detail h6 {
  padding: 1rem 0;
  border-bottom: solid 0.1rem #fca311;
  font-size: 2.2rem;
}

.app-modal-close,
.app-modal-register {
  font-weight: 500;
  width: 8rem;
  height: 5rem;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.app-modal-close {
  background-color: #14213d;
  color: #e5e5e5;
}
.app-modal-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fca311;
  color: #000000;
}

.app-modal-register:link,
.app-modal-register:visited {
  text-decoration: none;
  text-align: center;
}

.app-modal-register:hover,
.app-modal-register:active {
  color: var(--black);
}

.app-modal-footer {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: solid 0.1rem #fca311;
}

.payment-button {
  position: absolute;
  top: 0;
  left: 0;
}

.app-form-modal {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
  align-items: center;
}

.app-form-label {
  font-size: 2rem;
}

.app-form {
  width: 60%;
  margin-top: 2rem;
}

@media only screen and (max-width: 500px) {
  .app-form-modal {
    overflow-y: auto;
  }

  .app-modal-body {
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
  }

  .modal-organizer-detail {
    width: 100%;
    text-align: center;
  }

  .modal-event-detail {
    text-align: left;
    overflow: unset;
    width: 100%;
  }
  .modal-organizer-detail img {
    overflow: unset;
    width: 100%;
  }
  .modal-event-detail h6 {
    font-size: 1.6rem;
  }
  .app-modal-close,
  .app-modal-register {
    font-weight: 500;
    width: 7rem;
    height: 4rem;
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  .app-modal-detail-text {
    text-align: left;
  }
  .app-form-modal {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;
    align-items: center;
  }
  .app-form {
    width: 60%;
    margin-top: 8rem;
  }
  .app-modal-footer {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: solid 0.1rem #fca311;
  }
}
